.appBar {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #5e2b97;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
