.contactWrapper {
  padding: 5px;
  max-width: 375px;
  margin: 0 auto;
  color: #2a003f;
}

@media (min-width: 768px) {
  .contactWrapper {
    min-width: 768px;
  }
}

@media (min-width: 1280px) {
  .contactWrapper {
    min-width: 1280px;
  }
}
