.contactContainer {
  width: 100%;
  margin: 0 auto;
}

.contactList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 2rem 0;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  justify-items: center;
}

@media (min-width: 768px) {
  .contactList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .contactList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.loading,
.error {
  margin-top: 1rem;
  color: #8e5adf;
  font-weight: bold;
  text-align: center;
}
