.title {
  font-size: 1.1rem;
  margin-right: 1rem;
  color: #f4e9ff;
}

.logoutBtn {
  background-color: #8e5adf;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutBtn:hover {
  background-color: #5e2b97;
}
